.entete{
	width: 71%;
	height: 800px;
	margin-left: 17%;
	margin-right: 14%;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
	background: -moz-linear-gradient(top, #ffffff, #e5e5e5);
	background: -ms-linear-gradient(top, #ffffff, #e5e5e5);
	background: -o-linear-gradient(top, #ffffff, #e5e5e5);
	border-radius: 15px;
	 
}
.titre{
	text-align: center;
	font-size: 4em;
	color: red;
	font-weight: bold;
	margin-top: 20px;

}
#connex{
	position: absolute;
	border-radius: 15px;
	margin-top: 350px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
	background: -moz-linear-gradient(top, #ffffff, #e5e5e5);
	background: -ms-linear-gradient(top, #ffffff, #e5e5e5);
	background: -o-linear-gradient(top, #ffffff, #e5e5e5);
	width: 220px;
	margin-left: 01px;
	height: 380px;
}
input[name="deconnexion"],input[name="supprimer"],input[name="modifier"],input[name="inscrire"],input[name="acceuil"],input[name="ajouter"]{
	margin-top: 5px;
	margin-left: 15px;
	border-radius: 5px;
}
.out{
	margin-left: 15px;
	margin-top: 15px;
}
#in{
	margin-left: 0px;
}
#st{
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.logo{
	margin-top: 25px;
	margin-left: 25px;
}
#dt{
	margin-top: 40px;
}
label{
	margin-left: 20px;
}
select{
	border-radius: 5px;
	width: 172px;
	margin-top: 10px;
}
table{
	margin-left: -10px;
}
#g{
	text-align: left;
	margin-left: 25px;
}
#d{
	text-align: right;
	margin-right: 25px;
}
#rev{
	margin: 0 auto;
	margin-left: 10px;
}
#sign_g{
	margin-top: 40px;
	margin-left: 40px;
}
#sign_d{
	text-align: right;
	margin-right: 40px;
	margin-top: -10px;
}
.fact{
	margin-top: 60px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
#con{
	margin-left: 0px;
}
input[type="reset"]{
	margin-top: 30px;
}
td input[type="submit"]{
	margin-top: 30px;
	margin-left: 40px;
}
.btn{
	margin-left: 0px;
}
input,textarea{
	border-radius: 5px;
}
body{
	background-image: url("img/GEDC0258.JPG");
	background-size: cover;
}
#pied_de_page{
	color: #999;
	background-color: #000;
	text-align: center;
	width: 100%;
	margin: 10px auto;
}
.rad{
	margin-left: 560px;
}