.entete{
	width: 70%;
	height: 90%;
	margin-left: 15%;
	margin-right: 15%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
	background: -moz-linear-gradient(top, #ffffff, #e5e5e5);
	background: -ms-linear-gradient(top, #ffffff, #e5e5e5);
	background: -o-linear-gradient(top, #ffffff, #e5e5e5);
	border-radius: 15px;
	 
}
.titre{
	text-align: center;
	font-size: 4em;
	color: red;
	font-weight: bold;
	margin-top: 20px;

}
#st{
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.logo{
	margin-top: 25px;
	margin-left: 25px;
}
#dt{
	margin-top: 40px;
}
label{
	margin-left: 20px;
}
#g{
	text-align: left;
	margin-left: 25px;
}
#d{
	text-align: right;
	margin-right: 25px;
}
#rev{
	margin: 0 auto;
	margin-left: 10px;
}
.fact{
	margin-top: 60px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
td input[type="submit"]{
	margin-top: 10px;
	margin-left: 40px;
}
input,textarea{
	border-radius: 5px;
}
body{
	background-image: url("img/GEDC0258.JPG");
	background-size: cover;
}
#pied_de_page{
	color: #999;
	background-color: #000;
	text-align: center;
	width: 100%;
	margin: 10px auto;
}